@model Teste.Areas.Identity.Models.UsuariosModel

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Tabela de Registro";
}

<h2 class="m-5 is-size-4">Lista de Usuários</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>Data Nascimento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model.listUsuarios)
        {
            <tr>
                <td>@usuario.cId</td>
                <td>@usuario.rNome</td>
                <td>@usuario.cCpf</td>
                <td>@usuario.cTelefone</td>
                <td>@usuario.dtNascimento</td>
            </tr>
        }
    </tbody>
</table>

<h1>@Model.pinto</h1>
<div class="column is-3">
    <label class="label">Estado civill</label>
    <div class="select">
        @Html.DropDownListFor(x => x.cComboEstadoCivil, Model.comboEstadoCivil, new { @id = "idComboEstadoCivil" })
    </div>
</div>
